.about {
  display: flex;
  padding: 80px 104px;
  gap: 56px;
}

.about__img {
  width: 464px;
  height: 464px;
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 51px 0 0;
  max-width: 600px;
}

.about__title {
  margin: 0;
  max-width: max-content;
  font-family: "Roboto Slab", Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}

.about__comment {
  margin: 0;
  max-width: max-content;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

@media screen and (max-width: 1038px) {
  .about {
    padding: 40px 40px 61px;
    gap: 32px;
    justify-content: center;
  }

  .about__img {
    width: 232px;
    height: 232px;
  }

  .about__container {
    margin: 0;
    max-width: 424px;
  }

  .about__title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 575px) {
  .about {
    flex-direction: column;
    padding: 32px 16px 128px;
    gap: 24px;
    align-items: center;
  }

  .about__img {
    height: 272px;
    width: 272px;
  }

  .about__container {
    gap: 16px;
    margin: 0 auto;
  }
}
