.header {
  --max-width: 608px;

  padding: 0 0 80px;

  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
}

.header-home {
  border-bottom: 1px solid rgba(196, 196, 196, 0.5);
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url(../assets/page_background.jpg);
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header-saved {
  border-bottom: rgba(209, 210, 214, 1);
  background-color: rgba(255, 255, 255, 1);
  color: rgba(26, 27, 34, 1);
}

.header__container {
  max-width: max-content;
  margin: 80px auto 0;
}

.header__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  max-width: var(--max-width);
}

.header__subtitle {
  line-height: 24px;
  max-width: var(--max-width);
  margin: 32px 0 0;
}

@media screen and (max-width: 1038px) {
  .header {
    padding-bottom: 48px;
  }

  .header__container {
    margin-top: 38px;
  }

  .header__title {
    max-width: 385px;
    font-size: 36px;
    line-height: 40px;
    margin-top: 38px;
  }

  .header__subtitle {
    max-width: 452px;
  }
}

@media screen and (max-width: 575px) {
  .header__title {
    margin: 30px auto 0;
    max-width: 285px;
  }

  .header__subtitle {
    margin: 16px auto 0;
    max-width: 288px;
  }
}
