.nav {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 19px 104px 13px;
}

.header-home .nav {
  color: rgba(255, 255, 255, 1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header-saved .nav {
  color: rgba(26, 27, 34, 1);
  border-bottom: 1px solid rgba(209, 210, 214, 1);
}

.nav__container_opened {
  display: none;
}

.nav__logo {
  margin-right: auto;
  text-decoration: none;
  color: inherit;
}

.nav__title {
  font-family: "Roboto Slab";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav__item {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: inherit;
}

.nav__item:first-of-type {
  margin-right: 12px;
}

.nav__item_type_save {
  width: 178px;
  text-align: center;
}

.header-home .nav__item_type_save {
  color: rgba(182, 188, 191, 1);
}

/* .nav__item:hover {
  color: rgba(255, 255, 255, 1);
} */

.nav__link {
  position: relative;
  text-decoration: none;
  color: inherit;
  padding-bottom: 27px;
}

.nav__link.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
}

.header-home .nav__link.active::after {
  width: 68px;
  background-color: rgba(255, 255, 255, 1);
}

.nav__link_type_save.active::after {
  width: 178px;
  background-color: rgba(26, 27, 34, 1);
}

.nav__signout-btn {
  display: flex;
  align-items: center;
  padding: 12px 15px 12px 19px;
  border-radius: 100px;
  background-color: transparent;
  cursor: pointer;
}

.header-home .nav__signout-btn {
  border: 1px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.header-saved .nav__signout-btn {
  border: 1px solid rgba(26, 27, 34, 1);
  color: rgba(26, 27, 34, 1);
}

.nav__btn-name {
  min-width: 56px;
  margin: 0;
}

.nav__signin-btn {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 1);
  border-radius: 100px;
  padding: 12px;
  width: 176px;
  height: 48px;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.nav__hamburger {
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.header-home .nav__hamburger {
  background: url(../assets/menu_main.png) center no-repeat;
}

.header-saved .nav__hamburger {
  background: url(../assets/menu.png) center no-repeat;
}

@media screen and (max-width: 1038px) {
  .nav {
    padding: 14px 40px 12px;
  }

  .nav__list {
    gap: 16px;
  }

  .nav__item {
    font-size: 16px;
    /* color: rgba(255, 255, 255, 1); */
  }

  .nav__item_type_save {
    width: 160px;
  }

  .nav__link {
    padding-bottom: 24px;
  }

  .nav__link.active::after {
    width: 60px;
  }

  .nav__link_type_save.active::after {
    width: 160px;
  }

  .nav__signin-btn {
    font-size: 16px;
    padding: 8px 12px;
    width: 128px;
    height: 40px;
  }

  .nav__signout-btn {
    padding: 8px;
    gap: 13px;
  }

  .nav__btn-name {
    padding-left: 7px;
    min-width: 0;
  }
}

@media screen and (max-width: 575px) {
  .nav {
    padding: 16px;
  }

  .nav__title {
    font-size: 16px;
  }

  .nav__list {
    flex-direction: column;
    margin-top: 16px;
    padding: 0 16px;
    gap: 22px;
  }

  .nav__item {
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
    line-height: 56px;
    width: 100%;
  }

  .nav__item_type_save {
    text-align: left;
  }

  .nav__item:first-of-type {
    margin-right: 0;
  }

  .nav__item:last-of-type {
    max-width: 288px;
  }

  .nav__link {
    padding-bottom: 0;
  }

  .nav__link.active::after {
    content: none;
  }

  .nav__signin-btn {
    width: 100%;
    padding: 16px 12px;
    height: 56px;
  }

  .nav__signout-btn {
    border: 1px solid rgba(255, 255, 255, 1);
    color: rgba(255, 255, 255, 1);
    width: 100%;
    justify-content: center;
    gap: 8px;
  }

  .nav__btn-name {
    padding: 0;
  }

  .nav__hamburger {
    display: block;
  }
}
