.search {
  --border-radius: 100px;

  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: rgba(255, 255, 255, 1);
}

.search__form {
  max-width: 608px;
  margin: 88px auto 0;
}

.search__container {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  border-radius: var(--border-radius);
}

.search__input {
  padding: 21px 40px 21px 24px;
  border-radius: var(--border-radius);
  color: rgba(26, 27, 34, 1);
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
}

.search-btn {
  padding: 20px 56px;
  border-radius: var(--border-radius);
  border: none;
  background-color: rgba(47, 113, 229, 1);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1024px) {
  .search__form {
    margin-top: 48px;
    max-width: 452px;
  }

  .search__input {
    padding: 17px 40px 17px 24px;
  }

  .search-btn {
    padding: 17px 40px 17px 24px;
  }
}

@media screen and (max-width: 575px) {
  .search__form {
    margin-top: 122px;
  }

  .search__container {
    flex-direction: column;
    background-color: transparent;
    padding: 0 16px;
    box-sizing: border-box;
    gap: 16px;
  }

  .search__input {
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
  }

  .search-btn {
    width: 100%;
  }
}
